<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="question.scss">

<h1>Question#ask</h1>
<!-- <p>Find me in app/views/coaching_controller/ask.html.erb</p> -->

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question">
  <button type="submit" class="btn btn-primary">Ask it!</button>
</form>
